.text{
    animation: flash 0.5s linear infinite;
    margin:20px;
    font-size:30px;
      font-weight: bold;
  }
  
  @keyframes flash {
    0%,35%,60%,100%{
      opacity: 1;
    }
  
    25%{
      opacity: 1;
      color:#7fff00;
    }
    
    50%{
      opacity: 1;
      color:#0091EA;
    }
    
    75%{
      opacity: 1;
      color:#ff1493;
    }
    
  }

  body{
      background-color:orange;
      text-align: center;
  }